.edit_form {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  width: 30%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  box-shadow: -9px 7px 18px -5px rgb(125 125 125 / 75%);
  right: 0;
}

.edit_form_g {
  position: absolute;
  margin: auto;
  top: 5%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100px;
  background: white;
  width: 40%;
  border-radius: 0 0 30px 30px;
  box-shadow: -1px 15px 18px -5px rgb(125 125 125 / 75%);
}

.edit_form_g > .edit_block input[type] {
  height: 40px;
}

.edit_form_30 {
  width: 30%;
}

.edit_form_50 {
  width: 50%;
}

.edit_form_60 {
  width: 60%;
}

.edit_block {
  margin: auto;
}

#groups input[type="text"],
#classroom input[type="text"],
#department input[type="text"],
#housing input[type="text"],
#lessons input[type="text"],
#position input[type="text"],
#users input[type="text"],
.raspisanie input[type="text"],
.edit_select {
  height: 40px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.show_edit input[type="checkbox"] {
  margin-left: 10px;
}

button {
  margin-left: 20px;
  width: 100px;
  border-radius: 40px 10px 40px 10px;
  transition-duration: 0.3s;
}

button:hover {
  transform: scale3d(1.2, 1.2, 1);
  border-radius: 10px 40px 10px 40px;
  transition-duration: 0.3s;
}

.outer {
  position: absolute;
  margin: 20px auto 0;
  top: 25%;
  background: snow;
  display: flex;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  border: 1px dashed black;
  left: 0;
  right: 0;
}

.outer_r {
  position: absolute;
  top: 18%;
}

.wrap_form {
  display: flex;
  flex-wrap: wrap;
}

.out_r {
  width: 70%;
  border: 1px solid;
  margin: 0;
}

.outer_20 {
  width: 20%;
}

.outer_30 {
  width: 30%;
}

.outer_40 {
  width: 40%;
}

.outer_50 {
  width: 50%;
}

.outer_60 {
  width: 60%;
}

.outer_70 {
  width: 70%;
}

.outer_80 {
  width: 80%;
}

.inner {
  margin: 10px;
}

.show_edit {
  margin: 10px;
}

.show_edit input[type="text"],
select,
button {
  height: 40px;
}

.fix_but {
  position: fixed;
  top: 10%;
  right: 5%;
  height: 60px;
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  z-index: 10;
}
